{% load i18n cms_tags menu_tags leprikon_tags rocketchat sekizai_tags staticfiles ganalytics %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="cs-CZ">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} &mdash; Dům dětí a mládeže Pelhřimmov</title>
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'leprikon/lib/bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/style.css' %}" />
    {% render_block "css" %}
    <script src="{% static 'leprikon/lib/jquery.min.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'leprikon/img/favicon.ico' %}" />

    {% if backends %}
    <!-- Bootstrap social -->
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'leprikon/lib/font-awesome/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'leprikon/lib/bootstrap-social.min.css' %}"/>
    {% endif %}
</head>
<body>
    {% cms_toolbar %}
    <div id="leftSide" class="col-xs-6 visible-sm visible-md visible-lg col-sm-3 col-md-2"></div>
    <div class="row" style="margin-right:0px !important;">
    <div id="header" class="col-xs-12">
        <div id="header-left" class="col-xs-6 col-sm-4 col-md-3">
            <img src="{% static 'img/logo.png' %}" width="150px" style="display: block; margin: 0 auto">
            <h1>DDM Pelhřimov</h1>
        </div>
        <img src="{% static 'img/domecek.png' %}" width="300px" style="position: absolute; top:20px; right:20px;"  class="visible-sm visible-md visible-lg">
        <div id="header-right" class="col-xs-6 col-sm-offset-2 col-md-offset-3">
            {% school_year_form %}
            {% include 'leprikon/user_dropdown.html' %}
        </div>
    </div>
        <div id="menu" class="col-xs-12">
            <a href="JavaScript:void(0);" id="responsiveMenuIcon" onclick="$('#menu').toggleClass('responsive');$('#leftSide').toggleClass('visible-sm visible-md visible-lg')">MENU &#8801;</a></br>
            {% show_menu 0 100 0 1 'menu.html' 'CMSMenu,LeprikonMenu' %}
        </div>
        <div id="content" class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-4 col-md-8 col-md-offset-3">
            {% if messages %}
            <div class="modal fade" id="messages" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            {% for message in messages %}
                            <div class="alert alert-{% if message.level_tag == 'error' %}danger{% else %}{{ message.level_tag }}{% endif %}" role="alert">
                                <span class="glyphicon glyphicon-{% if message.level_tag == 'error' %}exclamation{% else %}{{ message.level_tag }}{% endif %}-sign" aria-hidden="true"></span>
                                {{ message }}
                            </div>
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal">{% trans 'OK' %}</button>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $('#messages').modal({
                    backdrop: 'static',
                });
            </script>
            {% endif %}
            {% block content %}{% endblock %}
            <div id="footer">
                powered by <a href="https://leprikon.cz/">Leprikón</a>
            </div>
        </div>
    </div>
</body>

<script>
$(function(){
  var $menuTopLlevelLinks = $('#menu a').not('.submenu a, #responsiveMenuIcon');
  var n = $menuTopLlevelLinks.length;
  var startGreen = 250;
  var endGreen = 120;
  var deltaGreen = Math.round((startGreen-endGreen)/(n-1));
  $menuTopLlevelLinks.each(function(index){
    $(this).css('background-color', 'rgb(250,' + (startGreen-index*deltaGreen) + ',30)');
  });
  $('.submenu a').css('background-color', $('#menu .ancestor, #menu .selected').not('.submenu a').css('background-color'));
  $('#responsiveMenuIcon').focusout(function(){
      $('#menu').removeClass('responsive');
      $('#leftSide').addClass('visible-sm visible-md visible-lg')
  });
  $('#menu a').not('#responsiveMenuIcon').mousedown(function(event){
    $target = $(event.target)[0];
    $target.click();
  })
})
</script>

<script type="text/javascript" src="{% static 'leprikon/lib/bootstrap/js/bootstrap.min.js' %}"></script>

{% render_block "js" %}

{% livechat %}

</html>
