@font-face {
    font-family: Akrobat-regular;
    src: url("../otf/Akrobat-Regular.otf") format("opentype");
}
body {
    font-family: Akrobat-regular;
    vertical-align: top;
    margin: 0 auto;
    background: rgba(86,206,230,0.5) url("../img/bubliny.png") repeat; /* For browsers that do not support gradients */
  /* Safari 5.1 to 6.0 */
    background: url("../img/bubliny.png") repeat, -webkit-linear-gradient(rgba(86,206,230,1),rgba(86,206,230,0.1) 40%,rgba(86,206,230,0.1) 70%,rgba(86,206,230,1) 100%) fixed;
  /* Opera 11.1 to 12.0 */
    background: url("../img/bubliny.png") repeat, -o-linear-gradient(rgba(86,206,230,1),rgba(86,206,230,0.1) 40%,rgba(86,206,230,0.1) 70%,rgba(86,206,230,1) 100%) fixed;
  /* Firefox 3.6 to 15 */
    background: url("../img/bubliny.png") repeat, -moz-linear-gradient(rgba(86,206,230,1),rgba(86,206,230,0.1) 40%,rgba(86,206,230,0.1) 70%,rgba(86,206,230,1) 100%) fixed;
  /* Standard syntax */
    background: url("../img/bubliny.png") repeat, linear-gradient(rgba(86,206,230,1),rgba(86,206,230,0.1) 40%,rgba(86,206,230,0.1) 70%,rgba(86,206,230,1) 100%) fixed;
}
#header {
    height: 200px;
    background-image: url(../img/head.png);
    background-size: 100% 200px;
}
#header-left {
    min-width: 245px;
    padding-top: 15px;
}
#header-right {
    padding-top: 15px;
}
#leftSide {
    vertical-align: top;
    height: 100%;
    position: fixed;
    display: inline-block;
    background: rgba(86,206,230,0.5 ); /* For browsers that do not support gradients */
  /* Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(rgba(0,179,230,0),rgba(0,179,230,1));
  /* Opera 11.1 to 12.0 */
    background: -o-linear-gradient(rgba(0,179,230,0),rgba(0,179,230,1));
  /* Firefox 3.6 to 15 */
    background: -moz-linear-gradient(rgba(0,179,230,0),rgba(0,179,230,1));
  /* Standard syntax */
    background: linear-gradient(rgba(0,179,230,0) 20%,rgba(0,179,230,1));
}
#menu{
    position: absolute;
    margin-top: 200px;
    vertical-align: top;
}
#menu > a{
    display:inline-block;
    font-size: 1.8em;
    margin: 3px 0px;
    padding: 5px 15px;
    background-color: yellow;
    color: inherit;
    text-decoration: inherit;
    text-transform: uppercase;
}
#menu .submenu{
    padding-left: 15px;
}
.submenu a{
    display:inline-block;
    font-size: 1.5em;
    margin: 1px 0px;
    padding: 0px 15px;
    background-color: yellow;
    color: inherit;
    text-decoration: inherit;
    text-transform: uppercase;
}
#content{
    background-color: transparent;
}
#content > *,
#content > .row > div > *{
    margin-bottom: 10px;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.7);
    padding: 10px;
}
#content > .row {
    background-color: transparent;
}
.box-header {
    display: inline-block;
    width: 18%;
    text-align: center;
    vertical-align: top;
    padding: 10px;
}
.box-content, .event_description {
    display: inline-block;
    width: 80%;
    padding: 10px;
}
.tag {
    padding: 5px;
}
#footer{
    color: rgb(100,179,230);
    display: block;
    text-align: center;
}
#header h1{
    font-size: 2.5em;
    text-align: center;
    display: block;
    margin: 10px 0px;
    color: aliceblue;
}
h1{
    font-size: 3em;
    margin: 0px;
    padding: 10px;
}
form {
    padding: 10px;
}
h2{
    font-size: 2.5em;
    margin: 40px 0px 0px 0px;
}
h3{
    font-size: 1.5em;
    margin: 5px 0px;
    font-weight: bold;
}
lable{
    margin-left: 10px;
    font-size: 1.5em;
}
.item{
    display: inline-block;
    width: 22%;
    height: 130px;
    vertical-align: middle;
    padding: 10px;
    font-size: 1.8em;
    margin: 2%;
    background-color: yellow;
}
#wrapper a{
    color: inherit;
    text-decoration: inherit;
    text-transform: uppercase;
}
#wrapper{
    padding: 20px;
}
.event_description p{
    margin: 5px 0px;
}
#responsiveMenuIcon{
    display: none !important;
}
#id_school_year_form {
    display: inline-block;
    padding: 0;
}

.right_column ul {
    list-style: none;
}

.right_column ul a {
    font-size: 1.8em;
}

/* do not show radio inputs in multiselect */
.radio input {
    visibility: hidden;
}

@media screen and (max-width: 767px) {
  #responsiveMenuIcon{
    display: inline-block !important;
  }
  #menu a:not(#responsiveMenuIcon){
    display: none;
  }
  #menu.responsive a{
    display: inline-block !important;
  }
  #content{
    margin-top: 35px;
  }
  #menu{
    margin-top: 170px;
  }
  #menu.responsive{
    z-index: 100;
  }
}
