@font-face {
    font-family: Akrobat-regular;
    src: url("../otf/Akrobat-Regular.otf") format("opentype");
}
body {
    font-family: Akrobat-regular;
    width: 100%;
    vertical-align: top;
    margin: 0 auto;
    background: rgba(86,206,230,0.5); /* For browsers that do not support gradients */
  /* Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(rgba(86,206,230,1),rgba(86,206,230,0.3) 60%,rgba(86,206,230,0) 70%,rgba(86,206,230,1) 100%);
  /* Opera 11.1 to 12.0 */
    background: -o-linear-gradient(rgba(86,206,230,1),rgba(86,206,230,0.3) 40%,rgba(86,206,230,0) 60%,rgba(86,206,230,1) 100%);
  /* Firefox 3.6 to 15 */
    background: -moz-linear-gradient(rgba(86,206,230,1),rgba(86,206,230,0.3) 40%,rgba(86,206,230,0) 60%,rgba(86,206,230,1) 100%);
  /* Standard syntax */
    background: linear-gradient(rgba(86,206,230,1),rgba(86,206,230,0.1) 40%,rgba(86,206,230,0.1) 70%,rgba(86,206,230,1) 100%);
    background-attachment: fixed;
}
#header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 200px;
    background-image: url(../img/head.png);
    background-size: 100% 200px;
}
#header-left {
    display: inline-block;
    width: 20%;
    min-width: 245px;
    float: left;
    padding-top: 10px;
}
#header-right {
    display: inline-block;
    width: 20%;
    min-width: 245px;
    float: right;
    padding-top: 10px;
}
#leftSide {
    vertical-align: top;
    width: 20%;
    min-width: 150px;
    height: 100%;
    position: fixed;
    display: inline-block;
    background: rgba(86,206,230,0.5 ); /* For browsers that do not support gradients */
  /* Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(rgba(0,179,230,0),rgba(0,179,230,1));
  /* Opera 11.1 to 12.0 */
    background: -o-linear-gradient(rgba(0,179,230,0),rgba(0,179,230,1));
  /* Firefox 3.6 to 15 */
    background: -moz-linear-gradient(rgba(0,179,230,0),rgba(0,179,230,1));
  /* Standard syntax */
    background: linear-gradient(rgba(0,179,230,0) 20%,rgba(0,179,230,1));
    
}
#menu{
    display: inline-block;
    width: 20%;
    min-width: 150px;
    margin-top: 210px;
    vertical-align: top;
    position: absolute;
}
#menu ul > a{
    display:inline-block;
    font-size: 1.8em;
    margin: 3px 0px;
    padding: 5px 15px;
    background-color: yellow;
    color: inherit;
    text-decoration: inherit;
    text-transform: uppercase;
}
#menu ul {
    padding-left: 0px;
}
#menu .submenu{
    padding-left: 0px;
}
.submenu a{
    display:inline-block;
    font-size: 1.5em;
    margin: 1px 0px;
    padding: 0px 15px;
    background-color: yellow;
    color: inherit;
    text-decoration: inherit;
    text-transform: uppercase;
}
#content{
    display: inline-block;
    width: 60%;
    margin-top: 200px;
    margin-left: 25%;
    background-color: transparent;
}
#content > *{
    margin-bottom: 10px;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.7);
    padding: 10px;
}
.box {
/*    vertical-align: top;*/
}
.box-header {
    display: inline-block;
    width: 18%;
    text-align: center;
    vertical-align: top;
    padding: 10px;
}
.box-content, .event_description {
    display: inline-block;
    padding: 10px;
}
/*
input, select{
    -moz-appearance: none;
    font-size: 1.2em;
    display:inline-block;
    margin: 5px;
    padding: 5px 5px;
    background-color: yellow;
    color: inherit;
    border: inherit;
}
*/
#footer{
    color: rgb(100,179,230);
    display: block;
    text-align: center;
}
#header h1{
    font-size: 2.5em;
    text-align: center;
    display: block;
    margin: 10px 0px;
    color: aliceblue;
}
h1{
    font-size: 3em;
    margin: 0px;
    padding: 10px;
}
form {
    padding: 10px;
}
h2{
    font-size: 2.5em;
    margin: 40px 0px 0px 0px;
}
h3{
    font-size: 1.5em;
    margin: 5px 0px;
    font-weight: bold;
}
lable{
    margin-left: 10px;
    font-size: 1.5em;
}
.item{
    display: inline-block;
    width: 22%;
    height: 130px;
    vertical-align: middle;
    padding: 10px;
    font-size: 1.8em;
    margin: 2%;
    background-color: yellow;
}
#wrapper a{
    color: inherit;
    text-decoration: inherit;
    text-transform: uppercase;
}
#wrapper{
    padding: 20px;
}
.event_description p{
    margin: 5px 0px;
}
